<!DOCTYPE html>
<html>
    <%- include('../partials/head',  {title: 'Cursala: carrito', file_css: 'carrito'}); %>
    <script src="/js/carrito.js"></script> 
  <body >
    <div id="blocppal">
    <%- include('../partials/header'); %>
        <section id="carrito">
        <% let totalPrecio =0 ;
        let totalProductos = 0; %>
        <% if(listaCursos.length == 0){%>
            <div class="container-carrito-vacio"> 
               
                <h3> Su carrito esta vacio </h3> 
                
                <div > <img id="carrito-vacio"  src="/images/products/pngkit_grocery.png" >
                </div> 
    
            </div>
           
        <%}else {%>
            
            <%for(let producto of listaCursos){%>
            <div class="container-table">
                <div class="element1"> <img  src="/images/products/<%= producto.image%>" />
                </div>
                <div class="element2">
                    <ul>
                        <li><%= producto.name%></li>
                        <li> $ <%= producto.price%> </li>
                        <li>
                            <form action=<%= "/users/" + producto.id + "?_method=DELETE" %> method="POST" >
                                <input type="image" name="eliminar" src="/images/recycle.svg" width="5%" >
                              </form>
                        </li>
                    </ul>
                </div>

                <div class="element3">
                    <form class="update-cantidad" action=<%= "/users/" + producto.id + "?_method=PUT" %> method="POST" >
                       
                    <ul>
                        <li> <select class="cantidad" name="cantidad">
                            <option value="1"<%= producto.CursoUser.cantidad == '1'?  'selected' : ''  %> >1</option>
                            <option value="2"<%= producto.CursoUser.cantidad == '2'?  'selected' : ''  %> >2</option>
                            <option value="3"<%= producto.CursoUser.cantidad == '3'?  'selected' : ''  %> >3</option>
                            </select>
                         </li>
                    
                        <li>Subtotal: $ <%= producto.price * producto.CursoUser.cantidad %></li>
                        <%totalPrecio += producto.price * producto.CursoUser.cantidad %>
                        <%totalProductos +=  producto.CursoUser.cantidad %>
                    </ul>
                    
                    </form>

                </div>
            </div>
            <%}%>
            <div class="container-table">  Total articulos :  <%= totalProductos %> Total a pagar :  $<%= totalPrecio %></div>
            
            <div class="container-boton">
                <div>
                    <form action="/users/validar" method="POST">
                        <input type="submit" name="submit" id="buton-validar" value="PAGAR">
                    </form>
                </div>
            </div>
        <%}%>
        </section>
   
         
        <%- include('../partials/footer'); %>
    </div>
   </body>
</html>