<!DOCTYPE html>
<html>
  <%- include('../partials/head',  {title: 'Cursala: login', file_css: 'login'}); %>

<body>
  <div id="blocppal">
  <%- include('../partials/header'); %>
  
    <div class="register-container">
      <div class="register">
       
        <h2>Inicia sesion</h2>
        <form action="/users/login" method="POST">
            
            <input  class="formulario<%= errors.email ? '-is-invalid' : ''%>" type="email" name="email" placeholder="Email" value="<%= body.email ? body.email : '' %>">
            <div class="form-control<%= errors.email ? '-is-invalid' : ''%>" > <%= errors.email ? errors.email.msg : ''%> </div>
            <input class="formulario<%= errors.password ? '-is-invalid' : ''%>" type="password" name="password" placeholder="Contraseña">
            <div class="form-control<%= errors.password ? '-is-invalid' : ''%>" > <%= errors.password ? errors.password.msg : ''%> </div>
    
            <input type="checkbox" id="mantenerme" name="mantenerme">
            <label for="mantenerme"> Mantenerme logeado </label>
            <p><a href="#">Olvidaste la contraseña?</a></p>
            <input  type="submit" name="submit" class="submit" value="INGRESAR">
        </form>
      </div>
    </div>
  <%- include('../partials/footer'); %>
  </div>
</body>
</html>