<!DOCTYPE html>
<html>
  <%- include('../partials/head',  {title: 'Cursala: perfil', file_css: 'perfil'}); %>

<body>
  <div id="blocppal">
  <%- include('../partials/header'); %>
  
    <div class="register-container">
      <div class="register">
       
        <h2>Perfil</h2>
        <form action="/users/perfil?_method=PUT" method="POST" enctype="multipart/form-data">
          <input type="text" name="firstName" placeholder="Nombre" value="<%= user.firstName%>">
      
          <div> email: <%= user.email%></div>
          <div class="avatar"> Tu avatar <img src="/images/users/<%= user.avatar%>" /></div>

          <label for="avatar">Cambia tu avatar</label>
         
          <input type="file"  id="avatar" name="avatar" placeholder = "Selecciona una imagen" value="<%= user.avatar%>">
         
          <input type="submit" name="submit" class="submit" value="CAMBIAR PERFIL">
        
        </form>
      </div>
    </div>
  <%- include('../partials/footer'); %>
  </div>
</body>
</html>