<!DOCTYPE html>
<html>
  <%- include('../partials/head',  {title: 'Cursala: registro', file_css: 'registro'}); %>

<body>
  <div id="blocppal">
  <%- include('../partials/header'); %>
  
    <div class="register-container">
      <div class="register">
       
        <h2>Registrate</h2>
        <form action="/users/registro" method="POST" enctype="multipart/form-data">
          <input class="formulario<%= errors.firstName ? '-is-invalid' : ''%>" type="text" name="firstName" placeholder="Nombre" value="<%=body.firstName ? body.firstName : ''%>">
          <div class="form-control<%= errors.firstName ? '-is-invalid' : ''%>" > <%= errors.firstName ? errors.firstName.msg : ''%> </div>
          <input class="formulario<%= errors.email ? '-is-invalid' : ''%>" type="text" name="email" placeholder="Email" value="<%= body.email ? body.email : '' %>" >
          <div class="form-control<%= errors.email ? '-is-invalid' : ''%>"> <%= errors.email ? errors.email.msg : ''%></div>
         
          <label for="avatar">Selecciona una imagen</label>
          <input class="formulario<%= errors.avatar ? '-is-invalid' : ''%>" type="file"  id="avatar" name="avatar" placeholder = "Selecciona una imagen" >
          <div class="form-control<%= errors.avatar ? '-is-invalid' : ''%>" > <%= errors.avatar ? errors.avatar.msg : ''%> </div>
         
          <input class="formulario<%= errors.password ? '-is-invalid' : ''%>" type="password" name="password" placeholder="Contraseña">
          <input class="formulario<%= errors.password ? '-is-invalid' : ''%>" type="password" name="c_password" placeholder="Confirma contraseña">
          <div class="form-control<%= errors.password ? '-is-invalid' : ''%>" > <%= errors.password ? errors.password.msg : ''%> </div>
          <input type="submit" name="submit" class="submit" value="REGISTRARSE">
        
        </form>
      </div>
    </div>
  <%- include('../partials/footer'); %>
  </div>
</body>
</html>