<!DOCTYPE html>
<html>
  <%- include('./partials/head',  {title: 'Cursala: los cursos', file_css: 'home_admin'}); %>
  
  <body >

   
    <div id="blocppal">

        <%- include('./partials/header'); %>

        <% if(mensaje){%>
      <input id="mensaje" type="hidden" value="<%=mensaje%>"/>
        <%}%>
   
        <div id="container-total">

            <%- include('./partials/pagination'); %>
           <%- include('./partials/products-item-admin'); %>
            <%- include('./partials/pagination'); %>
         </div>
            <%- include('./partials/footer'); %>
  </div>
   </body>
  <!-- JavaScript -->
   <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
   <script src="/js/home.js"></script> 
   <% if (locals.user!= null && locals.user.admin){%>
    <script src="/js/admin.js"></script> 
  <%}%>

</html>