<!DOCTYPE html>
<html>


<%- include('../partials/head',  {title: 'Cursala: carga de producto', file_css: 'product-carga'}); %>
<body>  

  <%- include('../partials/header'); %>

<section>
<div class="carga">
  
        <h2> Modificacion de Producto</h2>
        <form action= "<%= "/products/" + producto.id + "?_method=PUT" %>" method="POST" enctype="multipart/form-data">
          <!-----------------------------------CAMPOS HIDDEN por cuando se renderiza la vista despues de un error de validacion de formulario--------->
          <input name="categorias" type="hidden" value= "<%=JSON.stringify(categorias) %>"/>
          <input name="idProducto" type="hidden" value= "<%=producto.id %>"/>          
          <!------------------------------------------------------------------------------------------------------------------------------------------>
          <p>
          <label for="name">Nombre</label>
          <input type="text" class="formulario<%= errors.name ? ' is-invalid' : ''%>" id="name" name="name" value="<%= producto.name %>" />
          <div class="form-control<%= errors.name ? ' is-invalid' : ''%>" > <%= errors.name ? errors.name.msg : ''%> </div>
          </p>
          <p>
        
          <label for="category">Categoria</label> 
          <select class="formulario<%= errors.categoryId ? ' is-invalid' : ''%>" name="categoryId" id="category">
              <% for (cat of categorias) {%>
                <option value="<%= cat.id%>" <%= producto.categoryId == cat.id ? 'selected' : ''%> > <%= cat.name%> </option>
              <% } %>
          </select>
            <div class="form-control<%= errors.categoryId ? ' is-invalid' : ''%>" > <%= errors.categoryId ? errors.categoryId.msg : ''%> </div>
          </p>
            <p>
            <label for="length">Cantidad de horas</label>
            <input class="formulario<%= errors.length ? ' is-invalid' : ''%>" type="text" id="length" name="length"  value="<%= producto.length %>"/>
            <div class="form-control<%= errors.length ? ' is-invalid' : ''%>" > <%= errors.length ? errors.length.msg : ''%> </div>
            </p>
            <p>
            <label for="price">Precio</label>
            <input class="formulario<%= errors.price ? ' is-invalid' : ''%>" type="text"  id="price" name="price" value="<%= producto.price %>"/>
            <div class="form-control<%= errors.price ? ' is-invalid' : ''%>" > <%= errors.price ? errors.price.msg : ''%> </div>
            </p>
          <p>
          <label for="image"> Imagen del producto</label>
          <input class="formulario<%= errors.image ? ' is-invalid' : ''%>" type="file" id="image" name="image" />
          <div class="form-control<%= errors.image ? ' is-invalid' : ''%>" > <%= errors.image ? errors.image.msg : ''%> </div>
        </p>

        <label for="description">Descripcion</label> <br/>
        <textarea class="formulario<%= errors.description ? ' is-invalid' : ''%>" name="description" id="description" > <%= producto.description %> </textarea>
        <div class="form-control<%= errors.description ? ' is-invalid' : ''%>" > <%= errors.description ? errors.description.msg : ''%> </div>

        
        <div class ="buton">
          <input type="submit" name="submit" class="submit" value="MODIFICAR"/>
        </form>

        
        <form action=<%= "/products/" + producto.id + "?_method=DELETE" %> method="POST" style="display: inline-flex">
          <input type="submit" name="eliminar" class="submit" value="ELIMINAR" >
        </form>
        
      
      </div>

</div>
<script> 
function confirmar(){
  var res = confirm("Confirma la supresion del producto?");
  if(res){
     document.form('eliminar').submit();
  }else{
    document.reload();
  }
}</script>
       
</section>

 <%- include('../partials/footer'); %>
      
</body>
</html>