<!DOCTYPE html>
<html>
<head>
  <title>Cursala Creacion de producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="IMAGENES/favicon.svg"> 
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 
  
  <link rel='stylesheet' href='/stylesheets/product-carga.css' />
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
<body>  
  <%- include('../partials/header'); %>

<section>
<div class="carga">
  <% if (producto === undefined){ %>
    <h2> Carga de Producto</h2>
    <form action="/products" method="POST">
     <% }  else {%>
        <h2> Edicion de Producto</h2>
        <form action= "<%= "/products/" + producto.id + "?_method=PUT" %>" method="POST">
    <% } %>

          <p>
          <label for="name">Nombre</label>
          <% if(producto !== undefined) {%>
          <input type="text" id="name" name="name" value="<%=producto.name %>" />
          <% } else {%>
          <input type="text" id="name" name="name" placeholder="Nombre del curso" />
          <%}%>
          </p>
          <p>
          <label for="category">Categoria</label> 
          <select name="category" id="category">
            <% if(producto == undefined) {%>
            <option>  -- seleccionar una categoria -- </option>
            <option value="1"> Cocina</option>
            <option value="2"> Bien estar</option>
            <option value="3"> Secretaria</option>
            <% } else {%>
            <option value="1" <% if(producto.category == 1) {%>   selected <%}%>> Cocina</option>
            <option value="2" <% if(producto.category == 2) {%>   selected <%}%>> Bien estar</option>
            <option value="3" <% if(producto.category == 3) {%>   selected <%}%>> Secretaria</option>
            <%}%>
          </select>
        </p>
            <p>
            <label for="duration">Cantidad de horas</label>
            <% if(producto !== undefined) {%>
              <input type="text" id="duration" name="duration" value=<%=producto.duration %>>
                <% } else {%>
                <input type="text" id="duration" name="duration" placeholder="Duracion en Hs del curso"/>
             <%}%>
            </p>
            <p>
            <label for="price">Precio</label>
            <% if(producto !== undefined) {%>
              <input type="text" id="price" name="price" value=<%=producto.price %>>
                <% } else {%>
                <input type="text"  id="price" name="price" placeholder="Precio en dolares"/>
             <%}%>
            </p>
          <p>
          <label for="image"> image del producto</label>
          <% if(producto !== undefined) {%>
          <input type="text" id="image" name="image" placeholder="image" value="<%=producto.image %>"/>
          <% } else {%>
            <input type="text" id="image" name="image" placeholder="image"/>
          <%}%>
        </p>

        <label for="description">Descripcion</label> <br/>
        <% if(producto !== undefined) {%>
          <textarea name="description" id="description" ><%=producto.description %></textarea>
        <% } else {%>
            <textarea name="description" id="description"></textarea>
        <%}%>
        
        <div class ="buton">
          <% if(producto === undefined) {%>
             <input type="reset" name="reset" class="submit" value="RESET"/>
             <input type="submit" name="submit" class="submit" value="CREAR"/>
             <%} else{%>
        
          <input type="submit" name="submit" class="submit" value="MODIFICAR"/>
            <% } %>
        </form>

        <% if(producto !== undefined) {%>
        <form action=<%= "/products/" + producto.id + "?_method=DELETE" %> method="POST" style="display: inline-flex">
          <input type="submit" name="eliminar" class="submit" value="ELIMINAR">
        </form>
        <%}%>
      </div>

</div>

       
</section>

 <%- include('../partials/footer'); %>
      
</body>
</html>