<!DOCTYPE html>
<html>
  <head>
    <title>Cursala <%= producto.name %></title>

    <meta charset="utf-8">
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="IMAGENES/favicon.svg"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
   
    <link rel="stylesheet" href="/stylesheets/product_detail.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
   <link rel="stylesheet" href="/stylesheets/footer.css">
   


</head>

  <body >
    <div id="blocppal">
    <%- include('../partials/header'); %>
      <section>
        <div class="container-table">
             <div class="element1"> <img  src="/images/<%= producto.image %>" />
            </div>
            <div class="element2">
                    <ul>
                        <li><h2><%=producto.name%></h2></li>
                        <li>
                            <div>
                                <%=producto.description%>
                             </div>
                        </li>
                        <li>Duracion : <%=producto.duration%> horas</li>
                    
                        <li>
                        <li><%=producto.price%> $</li>
                    
                        <li>

                        <p> Cantidad <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                        </p>
                         </li>
                </ul>
                <div class="container-buton">
                    <form action="/carrito" method="POST">
                        <input type="submit" name="submit" id="buton-agregar" value="Agregar al carrito">
                    </form>
                </div>
                    
            </div>
            
        </div>
    </section>
        <%- include('../partials/footer'); %>
    </div>
   </body>
</html>