<!DOCTYPE html>
<html>

<%- include('../partials/head',  {title: 'Cursala: detaille curso', file_css: 'product_detail'}); %>
  <body >
    <div id="blocppal">
    <%- include('../partials/header'); %>
      <section>
        <div class="container-table">

             <div class="element1"><img src="/images/products/<%= producto.image %>" alt="imagen de producto">
            </div>
            <form action="/users/addCarrito<%= producto.id %>" method="POST">
            <div class="element2">
                <ul>
                        <li><h2><%=producto.name%></h2></li>
                        <li>
                            <div>
                                <%=producto.description%>
                             </div>
                        </li>
                        <li>Duracion : <%=producto.length%> horas</li>
                    
                        <li>
                        <li><%=producto.price%> $</li>
                    
                        <li>

                        <p><label for="cantidad">Cantidad</label> 
                            <select name="cantidad" id="cantidad" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                        </p>
                         </li>
                </ul>
                <div class="container-mensaje"> <%= mensaje ?  mensaje : "" %></div>
                <div class="container-buton">
                        
                      <input type="submit" name="submit" id="buton-agregar" value="Agregar al carrito">
                   
                </div>
            
                    
            </div>
        </form>
            
        </div>
    </section>
        <%- include('../partials/footer'); %>
    </div>
   </body>
</html>