<!DOCTYPE html>
<html>

<%- include('../partials/head',  {title: 'Cursala: detaille curso', file_css: 'product_detail'}); %>
  <body >
    <div id="blocppal">
    <%- include('../partials/header'); %>
      <section>
        <div class="container-table">
             <div class="element1"> <img  src="<%= producto.image %>" />
            </div>
            <div class="element2">
                    <ul>
                        <li><h2><%=producto.name%></h2></li>
                        <li>
                            <div>
                                <%=producto.description%>
                             </div>
                        </li>
                        <li>Duracion : <%=producto.length%> horas</li>
                    
                        <li>
                        <li><%=producto.price%> $</li>
                    
                        <li>

                        <p> Cantidad <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                        </p>
                         </li>
                </ul>
                <div class="container-buton">
                    <form action="/carrito" method="POST">
                        <input type="submit" name="submit" id="buton-agregar" value="Agregar al carrito">
                    </form>
                </div>
                    
            </div>
            
        </div>
    </section>
        <%- include('../partials/footer'); %>
    </div>
   </body>
</html>