<!DOCTYPE html>
<html>


<%- include('../partials/head',  {title: 'Cursala: categorias de Producto', file_css: 'categorias'}); %>
<body>  

  <%- include('../partials/header'); %>

<section>
<div class="carga">
  
        <h2> Categorias de Producto</h2>
        <table>
            <% for (cat of listaCategorias) {%>
            <tr>
                <td>   <%= cat.name%> </td>
                <td> <a href="/categorias/<%= cat.id%>/edit">  <i class="far fa-edit"></i> </a></td>
                <td>   
                    <% if(cat.cursos.length == 0){%>
                    <form action=<%= "/categorias/" + cat.id + "?_method=DELETE" %> method="POST" class="trash">
                       <input type="image" name="eliminar" src="/images/recycle.svg" width="15%" > 
                   </form>
                   <%}%>
                </td>
            </tr>
            <% } %>
        </table>
        
    <div class ="buton">
        <form action=<%= "/categorias/create" %> method="GET" >
            <input type="submit" name="create" class="submit" value="CREAR">
        </form>
    </div>
    
      </div>

</div>
       
</section>

 <%- include('../partials/footer'); %>
      
</body>
</html>